$button-margin-left-above-desktop: 1em;
$button-margin-left-below-desktop: .5em;
.header {
  @include belowDesktop {
    @include aboveIpad {
      padding: .5em !important;
    }
  }
  @include belowIpad {
    flex-direction: column !important;
    height: unset !important;
    justify-content: space-between;
    padding: .5em .25em !important;
  }
  &-container {
    display: flex;
    width: 100%;
    > a {
      @include belowIpad {
        padding: 0;
        width: 1em;
      }
    }
  }
  &-logo {
    width: 40px;
    @include aboveIpad {
      margin: 0 4px 3px 0;
    }
  }
  &-name {
    @include belowDesktop {
      display: none;
    }
  }
  &-nav-buttons {
    .header-button {
      padding: .2em 1em;
      @include aboveDesktop {
        margin-left: $button-margin-left-above-desktop;
      }
      &:not(:first-child) {
        @include belowDesktop {
          margin-left: $button-margin-left-below-desktop;
        }
      }
    }
    @include belowIpad {
      display: none;
    }
    &-responsive {
      @include aboveIpad {
        display: none;
      }
      @include belowIpad {
        display: flex;
        justify-content: space-around;
        margin-top: .5em;
        width: 100%;
        a, button {
          margin: 0 !important;
          width: 100%;
        }
      }
      .header-button {
        &:nth-child(n+4) {
          @include belowTablet {
            display: none;
          }
        }
      }
    }
  }
  &-spacer {
    flex: 1 1 auto;
    @include belowIpad() {
      display: none;
    }
  }
  a, button {
    font-size: 1em;
  }
  .theme-icon-button {
    @include aboveDesktop {
      margin-left: $button-margin-left-above-desktop;
    }
    @include belowDesktop {
      @include aboveIpad {
        margin-left: $button-margin-left-below-desktop;
      }
      @include belowIpad {
        width: 1em;
      }
    }
    .mat-icon {
      font-size: 1.15em;
      padding: .35em 0;
    }
  }
  .search-form-field {
    font-size: .7em;
    @include aboveDesktop {
      width: 600px;
    }
    @include belowDesktop {
      width: 500px;
    }
    @include belowIpad {
      margin: 0 .5em;
      flex-grow: 1;
    }
  }
}