<form [formGroup]="newStarterForm" (ngSubmit)="onSubmit($event)">
  <div>
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      New Starter
    </h3>
    <p class="mt-1 text-sm text-gray-500">
      Once reviewed and approved, this information will be displayed publicly.
    </p>
  </div>

  <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
    <div class="sm:col-span-6">
      <label for="starter_name" class="block text-sm font-medium text-gray-700">
        Starter Name
        <br>
        <span class="mt-2 text-sm text-gray-500">What you would like your starter to be called.</span>
      </label>
      <div class="mt-1">
        <input type="text" formControlName="starter_name" name="starter_name" id="starter_name"
          class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
        <span class="text-xs text-red-500"
          *ngIf="newStarterForm.get('starter_name')?.errors?.required && (newStarterForm.get('starter_name')?.touched || submitted)">This
          field
          is required.</span>
      </div>
    </div>

    <div class="sm:col-span-6">
      <label for="github_url" class="block text-sm font-medium text-gray-700">
        GitHub URL
        <br>
        <span class="mt-2 text-sm text-gray-500">The location of your repository.</span>
      </label>
      <div class="mt-1 flex rounded-md shadow-sm">
        <span
          class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
          {{GITHUB_PREFIX}}
        </span>
        <input type="text" formControlName="github_url" name="github_url" id="github_url"
          class="flex-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300"
          (blur)="githubUrlBlurred($event)">
      </div>
      <span class="text-xs text-red-500"
        *ngIf="newStarterForm.get('github_url')?.errors?.required && (newStarterForm.get('github_url')?.touched || submitted)">This
        field
        is required.</span>
    </div>

    <div class="sm:col-span-6">
      <label for="package_json_url" class="block text-sm font-medium text-gray-700">
        package.json URL
        <br>
        <span class="mt-2 text-sm text-gray-500">The location of your repository's package.json file. We use this
          to parse through the project's dependencies.</span>
      </label>
      <div class="mt-1 flex rounded-md shadow-sm">
        <span
          class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
          {{GITHUB_PREFIX}}
        </span>
        <input type="text" formControlName="package_json_url" name="package_json_url" id="package_json_url"
          class="flex-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300">
      </div>
      <span class="text-xs text-red-500"
        *ngIf="newStarterForm.get('package_json_url')?.errors?.required && (newStarterForm.get('package_json_url')?.touched || submitted)">This
        field
        is required.</span>
    </div>

    <div class="sm:col-span-6">
      <label for="demo_url" class="block text-sm font-medium text-gray-700">
        Demo URL
        <br>
        <span class="mt-2 text-sm text-gray-500">The URL of your demo for this starter.</span>
      </label>
      <div class="mt-1 flex rounded-md shadow-sm">
        <span
          class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
          https://
        </span>
        <input type="text" formControlName="demo_url" name="demo_url" id="demo_url"
          class="flex-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300">
      </div>
    </div>

    <div class="sm:col-span-6">
      <label for="description" class="block text-sm font-medium text-gray-700">
        Description
        <br>
        <span class="mt-2 text-sm text-gray-500">Describe your starter.</span>
      </label>
      <div class="mt-1">
        <textarea formControlName="description" id="description" name="description" rows="3"
          class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border border-gray-300 rounded-md"></textarea>
        <span class="text-xs text-red-500"
          *ngIf="newStarterForm.get('description')?.errors?.required && (newStarterForm.get('description')?.touched || submitted)">This
          field
          is required.</span>
      </div>
    </div>

    <div class="sm:col-span-6">
      <label for="file-upload" class="block text-sm font-medium text-gray-700">
        Cover photo
        <br>
        <span class="text-xs mt-2">Include a screenshot of your starter (can be from your demo or even locally
          run project).</span>
      </label>
      <div class="mt-4" *ngIf="newStarterForm.get('cover_photo')?.value; else noCoverSelected">
        <img [src]="newStarterForm.get('cover_photo')?.value" class="h-64 w-[426px] object-cover shadow-xl rounded" />
        <div class="mt-4 flex items-center">
          <label for="cover_photo"
            class="relative focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
            <button (click)="fileInput.click()" type="button"
              class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              <span>Select a file</span>
              <input #fileInput id="cover_photo" name="cover_photo" type="file" accept=".png,.jpg,.jpeg" class="sr-only"
                (change)="selectFile($event)">
            </button>
          </label>
          <p class="ml-2 text-xs text-gray-500 text-center">
            PNG, JPG, or JPEG up to 1MB
          </p>
        </div>
        <span class="text-xs text-red-500" *ngIf="newStarterForm.get('cover_photo')?.errors?.tooLarge">The file
          is too large.</span>
      </div>
      <ng-template #noCoverSelected>
        <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
          <div class="space-y-1 text-center">
            <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48"
              aria-hidden="true">
              <path
                d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <div class="text-sm text-gray-600 text-center">
              <label for="cover_photo"
                class="relative cursor-pointer rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                <span>Upload a file</span>
                <input id="cover_photo" name="cover_photo" type="file" accept=".png,.jpg,.jpeg" class="sr-only"
                  (change)="selectFile($event)">
              </label>
            </div>
            <p class="text-xs text-gray-500 text-center">
              PNG, JPG, or JPEG up to 1MB
            </p>
            <span class="text-xs text-red-500"
              *ngIf="newStarterForm.get('cover_photo')?.errors?.required && (newStarterForm.get('cover_photo')?.touched || submitted)">This
              field is required.</span>
            <span class="text-xs text-red-500" *ngIf="newStarterForm.get('cover_photo')?.errors?.tooLarge">The
              file is too large.</span>
          </div>
        </div>
      </ng-template>
    </div>

    <div class="sm:col-span-6">
      <label for="categories" class="block text-sm font-medium text-gray-700">
        Categories
        <br>
        <span class="mt-2 text-sm text-gray-500">A comma-separated list of categories your starter falls under.
          This could include libraries, services, etc.</span>
      </label>
      <div class="mt-1">
        <input type="text" formControlName="categories" name="categories" id="categories"
          class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
        <span class="text-xs text-red-500"
          *ngIf="newStarterForm.get('categories')?.errors?.required && (newStarterForm.get('categories')?.touched || submitted)">This
          field
          is required.</span>
      </div>
    </div>
  </div>

  <div class="pt-5">
    <p class="text-right text-red-500 mb-4" *ngIf="saveStarterError">{{saveStarterError}}</p>
    <div class="flex justify-end">
      <a routerLink="/app/starters"
        class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Cancel
      </a>
      <button type="submit"
        class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Save
      </button>
    </div>
  </div>
</form>