<div class="hero-container" [class.reversed]="heroData.reversed">
  <img [src]="heroData.imgUrl" [alt]="heroData.imgAlt" class="hero-image">
  <div class="hero-text-container">
    <h2>{{ heroData.title }}</h2>
    <p [innerHTML]="heroData.subtitle"></p>
    <button *ngIf="heroData.buttonText && heroData.buttonUrl" mat-raised-button color="primary" class="take-action-button">
      {{ heroData.buttonText }} <mat-icon *ngIf="heroData.buttonIcon">{{ heroData.buttonIcon }}</mat-icon>
    </button>
  </div>
</div>