<div class="flow-root">
  <ul class="-mb-8">
    <li *ngFor="let activityItem of activity; let i = index">
      <div class="relative pb-8">
        <span *ngIf="i !== activity.length - 1" class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200"
          aria-hidden="true"></span>
        <div class="relative flex items-start space-x-3">
          <div class="relative">
            <img class="h-10 w-10 rounded-full bg-gray-400 flex items-center justify-center ring-8 ring-white"
              [src]="activityItem.user.avatar_url" alt="">

            <span *ngIf="activityItem.user.role === 'admin'"
              class="absolute -bottom-0.5 -right-1 bg-white rounded-full px-0.5 py-px">
              <!-- Heroicon name: solid/badge-check -->
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-indigo-500" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z" />
              </svg>
            </span>
          </div>
          <div class="min-w-0 flex-1">
            <div>
              <div class="text-sm flex items-center">
                <span href="#" class="font-medium text-gray-900">{{activityItem.user.full_name}}</span>
                <ng-container *ngIf="activityItem.from_status && activityItem.to_status">
                  <span class="mx-1">
                    from
                  </span>
                  <div>
                    <app-status-pill [status]="activityItem.from_status"></app-status-pill>
                  </div>
                  <span class="mx-1">
                    to
                  </span>
                  <div>
                    <app-status-pill [status]="activityItem.to_status"></app-status-pill>
                  </div>
                </ng-container>
              </div>
              <p class="mt-0.5 text-sm text-gray-500">
                {{activityItem.created_at | date:'MM/dd/yyyy hh:mm a'}}
              </p>
            </div>
            <div class="mt-2 text-sm text-gray-700">
              <p>
                {{activityItem.comment}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>