<main class="flex-1 relative z-0 overflow-y-auto focus:outline-none">
  <div class="py-6">
    <ng-container *ngIf="starters.length > 0; else noStarters">
      <div class="mx-auto px-4 sm:px-6 md:px-8 flex justify-between items-center">
        <h1 class="text-2xl font-semibold text-gray-900">Starters</h1>
        <a routerLink="/app/starters/new-starter"
          class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          <!-- Heroicon name: solid/plus -->
          <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
            aria-hidden="true">
            <path fill-rule="evenodd"
              d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
              clip-rule="evenodd" />
          </svg>
          New Starter
        </a>
      </div>
      <div class="mx-auto mt-4 px-4 sm:px-6 md:px-8">
        <div class="flex flex-col">
          <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
              <div class="shadow overflow-hidden sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">
                  <thead class="bg-gray-50">
                    <tr>
                      <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Image
                      </th>
                      <th scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Name / Description
                      </th>
                      <th scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Created At
                      </th>
                      <th scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        GitHub URL
                      </th>
                      <th scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Categories
                      </th>
                      <th scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Status
                      </th>
                    </tr>
                  </thead>
                  <tbody class="bg-white divide-y divide-gray-200">
                    <tr *ngFor="let starter of starters" class="hover:bg-gray-50 cursor-pointer"
                      [routerLink]="['/app/starters/', starter.id]">
                      <td class="px-6 py-4 flex">
                        <app-supabase-img class="h-10 w-[60px] object-cover rounded shadow flex-shrink-0 bg-gray-100"
                          [bucket]="starterCoverBucket"
                          [src]="starter.user_id + '/' + starter.id + '/' + starter.cover_photo" alt="">
                        </app-supabase-img>
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap">
                        <div class="flex items-center">
                          <div>
                            <div class="text-sm font-medium text-gray-900">
                              {{starter.starter_name}}
                            </div>
                            <div class="text-sm text-gray-500 max-w-xs truncate">
                              {{starter.description}}
                            </div>
                          </div>
                        </div>
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap">
                        <div class="text-sm text-gray-900">{{ starter.created_at | date:'MM/dd/yyyy hh:mm a' }}
                        </div>
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
                        {{GITHUB_PREFIX + starter.github_url}}
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
                        {{starter.categories.join(', ')}}
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap">
                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full"
                          [ngClass]="{'bg-green-100 text-green-800': starter.status === 'ACTIVE', 'bg-yellow-100 text-yellow-800': starter.status === 'REVIEW', 'bg-blue-100 text-blue-800': starter.status === 'REVISE', 'bg-red-100 text-red-800': starter.status === 'REJECTED'}">
                          {{starter.status}}
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #noStarters>
      <div class="mx-auto mt-4 px-4 sm:px-6 md:px-8">
        <div class="max-w-3xl mx-auto border-2 border-gray-300 border-dashed rounded-lg p-12 text-center">
          <svg class="mx-auto h-12 w-12 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z" />
          </svg>
          <h3 class="mt-2 text-sm font-medium text-gray-900">No starters</h3>
          <p class="mt-1 text-sm text-gray-500">
            Get started by linking a repository.
          </p>
          <div class="mt-6">
            <a routerLink="/app/starters/new-starter"
              class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              <!-- Heroicon name: solid/plus -->
              <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                  clip-rule="evenodd" />
              </svg>
              New Starter
            </a>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</main>