.hero {
  &es-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    @include aboveDesktop {
      padding: 4em 10%;
    }
    @include belowDesktop {
      @include belowIpad {
        align-items: center;
        flex-wrap: wrap-reverse;
      }
      @include aboveTablet {
        padding: 4em 5%;
      }
      @include belowTablet {
        padding: 3em 1em;
      }
    }
    .dark-theme & {
      &:nth-child(even) {
        background-color: $dark-background;
      }
    }
    :not(dark-theme) & {
      &:nth-child(even) {
        background-color: $accent-color;
      }
    }
    &.reversed {
      @include aboveIpad {
        flex-flow: row-reverse;
      }
    }
  }
  &-image {
    @include aboveIpad {
      width: 48%;
    }
    @include belowIpad {
      margin: 0 auto;
      @include aboveTablet {
        width: 60% !important;
      }
      @include belowTablet {
        width: 100% !important;
      }
    }
  }
  &-text-container {
    @include aboveIpad {
      width: 47%;
    }
    @include belowIpad {
      margin: 0 auto;
      text-align: center;
    }
    h2 {
      @include aboveIpad {
        font-size: 3em;
      }
      @include belowIpad {
        font-size: 2.5em;
      }
    }
    p {
      font-weight: 100;
      line-height: 1.5em;
      @include aboveIpad {
        font-size: 2em;
      }
      @include belowIpad {
        font-size: 1.5em;
      }
    }
    a {
      font-size: 1.5em;
      margin: 1em 0 0;
      padding: .5em 1.5em;
      @include belowIpad {
        margin: 1em 0 2em;
      }
    }
  }
}