.home-container {
  @include aboveTablet {
    padding: 6em 0 0;
  }
  @include belowTablet {
    @include abovePhone {
      padding: 4em 0 0;
    }
    @include belowPhone {
      padding: 2em 0 0;
    }
  }
  .welcome {
    &-logo {
      &:hover {
        animation: shake 0.5s;
        animation-iteration-count: infinite;
      }
      @include aboveTablet {
        width: 300px;
      }
      @include belowTablet {
        width: 200px;
      }
    }
    &-text {
      text-align: center;
      @include aboveDesktop {
        padding: 0 8em;
      }
      @include aboveTablet {
        padding-bottom: 4em;
      }
      @include belowTablet {
        padding-bottom: 2em;
      }
      h1 {
        font-weight: 800;
        line-height: 1.25em;
        @include aboveTablet {
          font-size: 5em;
        }
        @include belowTablet {
          font-size: 3em;
        }
      }
      p {
        margin-bottom: 1.25em;
        @include aboveTablet {
          font-size: 3em;
        }
        @include belowTablet {
          font-size: 2em;
        }
      }
      button {
        font-size: 2em;
        padding: .5em 1em;
      }
    }
  }
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}