.home-container {
  @include aboveTablet {
    padding: 6em 0;
  }
  @include belowTablet {
    @include abovePhone {
      padding: 4em .5em;
    }
    @include belowPhone {
      padding: 2em .5em;
    }
  }
  .welcome {
    &-logo {
      @include aboveTablet {
        width: 300px;
      }
      @include belowTablet {
        width: 200px;
      }
    }
    &-text {
      text-align: center;
      @include aboveDesktop {
        padding: 0 8em;
      }
      @include aboveTablet {
        padding-bottom: 4em;
      }
      @include belowTablet {
        padding-bottom: 2em;
      }
      h1 {
        font-weight: 800;
        line-height: 1.25em;
        @include aboveTablet {
          font-size: 5em;
        }
        @include belowTablet {
          font-size: 3em;
        }
      }
      p {
        font-weight: 100;
        line-height: 1.5em;
        margin-bottom: 1.25em;
        @include aboveTablet {
          font-size: 3em;
        }
        @include belowTablet {
          font-size: 2em;
        }
      }
      button {
        font-size: 2em;
        padding: .5em 1em;
      }
    }
  }
}