.welcome {
  &-container {
    display: flex;
    justify-content: space-around;
    @include aboveDesktop {
      padding: 0 8em;
    }
    @include aboveTablet {
      padding-bottom: 4em;
    }
    @include belowIpad {
      flex-direction: column;
    }
    @include belowTablet {
      padding-bottom: 2em;
    }
    .welcome-text {
      text-align: center;
      @include aboveDesktop {
        padding: 0 4em;
      }
      @include aboveIpad {
        width: 45%;
      }
      @include belowIpad {
        padding-bottom: 2em;
      }
      @include belowPhone {
        padding: 0 .5em 2em;
      }
      .welcome-logo {
        width: 200px;
        &:hover {
          animation: shake 0.5s;
          animation-iteration-count: infinite;
        }
      }
      h1 {
        font-weight: 800;
        line-height: 1.25em;
        @include aboveTablet {
          font-size: 4em;
        }
        @include belowTablet {
          font-size: 3em;
        }
      }
      p {
        font-size: 2em;
      }
      button {
        font-size: 1.5em;
        padding: .5em 1em;
      }
    }
    .subscribe-container {
      text-align: center;
      @include aboveIpad {
        margin: auto 0;
        padding: 3em 2em;
        width: 45%;
      }
      @include belowIpad {
        margin: 0 auto;
        padding: 3em 1em;
        width: 80%;
      }
      h2 {
        font-size: 2em;
      }
      mat-form-field {
        font-size: 1.25em;
        @include abovePhone {
          width: 55%;
        }
        @include belowPhone {
          width: 90%;
        }
        &:nth-child(2) {
          margin-bottom: 1em;
        }
      }
      button {
        font-size: 1.5em;
        margin-bottom: 1.5em;
        padding: .25em 1em;
      }
    }
  }
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}