<div class="footer-container">
  <div class="link-section">
    <h3>Navigation</h3>
    <a routerLink="/starters">Starters</a>
    <a routerLink="/themes">Themes</a>
    <a routerLink="/sites">Sites</a>
    <a routerLink="/about">About</a>
  </div>
  <div class="link-section">
    <h3>Resources</h3>
    <a routerLink="/contributing">Contributing</a>
  </div>
  <div class="link-section">
    <h3>Follow Us</h3>
    <a href="https://github.com/jneterer/angular-starters" target="_blank">
      <span aria-label="Github Icon" [inlineSVG]="'/assets/github.svg'"></span>
    </a>
    <a href="https://twitter.com/jacobneterer" target="_blank">
      <span aria-label="Twitter Icon" [inlineSVG]="'/assets/twitter.svg'"></span>
    </a>
    <a href="https://www.linkedin.com/in/jacobneterer" target="_blank">
      <span aria-label="LinkedIn Icon" [inlineSVG]="'/assets/linkedin.svg'"></span>
    </a>
  </div>
</div>