@mixin fullContainer($topBottomPadding: false) {
  @if $topBottomPadding {
    padding: $topBottomPadding 12em;
  }
  @else {
    padding: 4em 12em;
  }
  @include belowDesktop {
    @include abovePhone {
      @if $topBottomPadding {
        padding: $topBottomPadding 4em;
      }
      @else {
        padding: 4em;
      }
    }
    @include belowPhone {
      @if $topBottomPadding {
        padding: $topBottomPadding 2em;
      }
      @else {
        padding: 2em;
      }
    }
  }
}
.full-container {
  @include fullContainer();
}
@mixin relativeContainer($topBottomPadding: false) {
  @if $topBottomPadding {
    padding: $topBottomPadding 5em;
  }
  @else {
    padding: 2em 3em;
  }
  @include belowDesktop {
    @include abovePhone {
      @if $topBottomPadding {
        padding: $topBottomPadding 4em;
      }
      @else {
        padding: 4em;
      }
    }
    @include belowPhone {
      @if $topBottomPadding {
        padding: $topBottomPadding 2em;
      }
      @else {
        padding: 2em;
      }
    }
  }
}
.relative-container {
  @include relativeContainer();
}