@mixin container($topBottomPadding: false) {
  @if $topBottomPadding {
    padding: $topBottomPadding 12em;
  }
  @else {
    padding: 4em 12em;
  }
  @include belowDesktop {
    @include abovePhone {
      @if $topBottomPadding {
        padding: $topBottomPadding 4em;
      }
      @else {
        padding: 4em;
      }
    }
    @include belowPhone {
      @if $topBottomPadding {
        padding: $topBottomPadding 2em;
      }
      @else {
        padding: 2em;
      }
    }
  }
}