<mat-toolbar class="header">
  <div class="header-container">
    <a mat-flat-button routerLink="/">
      <img class="header-logo" [src]="currentTheme.headerLogoUrl" alt="Angular Starters Logo">
      <span class="header-name">
        Angular Starters
      </span>
    </a>
    <div app-header-buttons class="header-nav-buttons"></div>
    
    <span class="header-spacer"></span>
    
    <mat-form-field class="search-form-field" appearance="fill">
      <input matInput placeholder="Search" (input)="typeahead($event)" (keyup.enter)="search($event)" [(ngModel)]="searchTerm" [matAutocomplete]="searchResultsGroup">
      <mat-icon matSuffix>search</mat-icon>
      <mat-autocomplete [ngClass]="{ 'dark-theme': currentTheme.theme === 'dark' }" (optionSelected)="navigateToTypeaheadResult($event)" #searchResultsGroup="matAutocomplete">
        <mat-optgroup class="search-results" *ngFor="let group of globalSearchResults" [label]="mappedNames[group._id].name">
          <mat-option *ngFor="let result of group.results" (click)="navigateToTypeaheadResult($event)" [value]="result.name">
            <div *ngIf="result.highlights.length === 1">
              {{ result.name }}
            </div>
            <div *ngFor="let highlight of result.highlights">
              <ng-container *ngFor="let text of highlight.texts">
                <ng-container *ngIf="text.type === 'hit'; else noHit">
                  <span class="hit">{{ text.value }}</span>
                </ng-container>
                <ng-template #noHit>
                  {{ text.value }}
                </ng-template>
              </ng-container>
            </div>
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-button (click)="toggleTheme($event)" class="theme-icon-button"><mat-icon class="theme-icon">{{ currentTheme.themeIcon }}</mat-icon></button>
  </div>
  <div app-header-buttons class="header-nav-buttons-responsive"></div>
</mat-toolbar>
