.header {
  .app-logo {
    margin: 0 4px 3px 0;
    width: 40px;
  }
  button {
    font-size: 1em;
  }
  .header-button:not(:first-child) {
    margin-left: 1em;
    padding: .2em 1em;
  }
  .theme-icon-button {
    margin-left: 1em;
    .mat-icon {
      font-size: 1.15em;
      padding: .35em 0;
    }
  }
  .search-form-field {
    font-size: .7em;
    width: 350px;
  }
}