<mat-card class="card">
  <a class="image-link-wrapper" [routerLink]="'/starter/' + searchResult.name">
    <cl-image public-id="angular-starters.png" secure="true" [attr.class]="'mat-card-image'">
      <cl-placeholder></cl-placeholder>
    </cl-image>
  </a>
  <mat-card-content>
    <p>jrneterer</p>
    <p><a [routerLink]="'/starter/' + searchResult.name" class="starter-name">{{ searchResult.name }}</a></p>
    <p class="starter-description">{{ searchResult.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <div class="icons-container">
      <span class="icon-container">
        <mat-icon>start</mat-icon>
      </span> 5
      <span class="angular-icon">
        <span aria-label="My icon" [inlineSVG]="'/assets/angular.svg'"></span>
      </span> v9
    </div>
    <div>
      <a *ngIf="searchResult.repo_url" [href]="searchResult.repo_url" target="_blank">
        <span class="icon-container" aria-label="Github Icon" [inlineSVG]="'/assets/github.svg'"></span>
      </a>
      <a *ngIf="searchResult.demo_url" class="angular-icon" [href]="searchResult.demo_url" target="_blank"><mat-icon>launch</mat-icon></a>
    </div>
  </mat-card-actions>
</mat-card>